* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main{
    width: 100vw;
    height: 100vh;
    /* background: rgb(63, 23, 4); */
    background: rgb(38, 14, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.frame {
    margin-left: 20px;
    margin-right: 20px;
    width: 650px;
}

.slide {
    width: 650px;
    height: 100vh;
    top: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.content {
    border: 2px solid white;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 4.5rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 3rem;
}

h2 {
    color: white;
    font-size: 3.5rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 5rem;
}

.and {
    font-size: 3rem;
}

.slide img {
    width: 100%;
    height: auto;
}

.slide-1 {
    background-image: url("./img/image_darker.jpg");
    background-size: cover;
    background-position: center;
}

.slide-2 {
    background: #D1C3A4;
}

.slide-3 {
    background: #D1C3A4;
}

.slide-4 {
    background: #D1C3A4;
}

.slide-5 {
    background: #D1C3A4;
}

.slide-6 {
    background: #D1C3A4;
}

.arrow {
    fill: #D1C3A4;
}

.arrow:hover {
    fill: white;
}

.top {
    position: relative;
    top: -100%;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.bottom {
    position: relative;
    bottom: -100%;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}